body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1440px;
    height: 597px;
}
header {
    color: red;
}
header {
    display: inline-block;
    width: 1200px;
    height: 53px;
    margin: 30px 120px 23px 120px;
    background-color: grey;

}
header button {
    margin: 0 0 18px 1100px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background: #46a358;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
nav {
    width: 351px;
    height: 45px;
    background-color: orange;
}
span {
    color: #46a358;;
}
.main {
    margin: 68px 0 7px 0;
    width: 205px;
    height: 16px;
}
.descr {
    width: 557px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin: 10px 0 44px 0;
}
h1 {
    width: 530px;
    height: 140px;
    font-weight: 900;
    font-size: 70px;
    color: #3d3d3d;
    margin: 0 0 5px 0;;
}

a {

    margin: 8px 470px 0 379px;
    text-decoration: none;
    color: #3d3d3d;
    
}

.home { 
    font-weight: 700;
}




.wrapper {
    display: flex;
    width: 100%;
    width: 1200px;
    height: 450px;
    margin: 95px 120px 52px 120px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    padding-left: 40px;
}
.col1 button {
    width: 140px;
    height: 40px;
    margin:0 0 85 0;
    border: none;
    border-radius: 6px;
    background: #46a358;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.col2 {
    box-sizing: border-box;
    width: 507px;
    height: 450px;
    margin-right: 0;
    padding-left: 123px;
}


