body {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1440px;
    height: 597px;
}
header {
    width: 1200px;
    height: 53px;
    margin: 30px 120px 12px 120px;
}
.link-header {
    margin: 8px 470px 0 379px;
}
.button-header {
    margin: 0 0 18px 1100px;
}